html, body {
  height: 100% !important;
}

.padding-2 {
  padding: 1em 1.5em;
}

.width-30 {
  width: 30%;
}

#menu-button {
  float: right;
}

map {
  position: absolute;
}

md-sidenav {
  width: 40% !important;
  min-width: 40% !important;
  max-width: 40% !important;
}