html, body {
  height: 100% !important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.padding-2 {
  padding: 1em 1.5em;
}

.width-30 {
  width: 30%;
}

#menu-button {
  float: right;
}

#map {
  position: absolute;
}

md-sidenav {
  width: 40% !important;
  min-width: 40% !important;
  max-width: 40% !important;
  @media screen and (max-width: 500px) {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
}

.icon-directions {
  position: relative;
  top: 6px;
}
.md-backdrop.md-opaque {
  background-color: rgba(33,33,33,0.3) !important;
}

#paneldirections {
  padding: 2em;
}

#menu-cerrar {
  top: 9px;
  span.material-icons {
    position: relative;
    top: 8px;
  }
  @media screen and (max-width: 500px) {
    top: 0px;
  }
}