<!DOCTYPE html>
<html lang="en" ng-app="StarterApp">
<head>
    <title>Puntos de venta Tess By INGESA</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="/css/common.css" />

    <script src="https://maps.google.com/maps/api/js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/ngmap/build/scripts/ng-map.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-material/angular-material.min.js"></script>

    <script src="/js/app.min.js"></script>
</head>

<body ng-controller="AppCtrl">
    <md-button id="menu-button" class="md-fab md-primary" aria-label="Menu">
        <md-icon md-svg-src="/bower_components/angular-material/demos/toolbar/demoBasicUsage/img/icons/menu.svg"></md-icon>
    </md-button>

    <div id="map" map-lazy-load="http://maps.google.com/maps/api/js" map-type="">
        <map zoom="7" center="-1.7864639, -78.1368874">
            <div ng-repeat="oficina in oficinas">
                <marker id="oficina-[[ $index ]]"  position="[[ oficina.geo ]]" on-click="showInfoWindow(event, 'info-[[ $index ]]')"></marker>
                <info-window id="info-[[ $index ]]" visible-on-marker="oficina-[[ $index ]]">
                    <div ng-non-bindable="">
                        <header>
                            <h2>[[ oficina.nombre ]]</h2>
                            <h3>[[ oficina.localidad ]]</h3>
                        </header>
                        <section>
                            <div><strong>Nombre:</strong> [[ oficina.nombre ]]</div>
                            <div><strong>Dirección:</strong> [[ oficina.direccion ]]</div>
                            <div><strong>Teléfono:</strong> [[ oficina.telefono ]]</div>
                            <div><strong>Email:</strong> [[ oficina.email ]]</div>
                        </section>
                        <footer>
                            <h3>Como llegar:</h3>
                            <md-button class="md-fab md-warn" aria-label="Use Android">
                                <md-icon md-svg-src="/svg/bicycle.svg"></md-icon>
                            </md-button>
                            <md-button class="md-fab md-warn" aria-label="Use Android">
                                <md-icon md-svg-src="/svg/bus.svg"></md-icon>
                            </md-button>
                            <md-button class="md-fab md-warn" aria-label="Use Android">
                                <md-icon md-svg-src="/svg/car.svg"></md-icon>
                            </md-button>
                        </footer>
                    </div>
                </info-window>
            </div>

            <directions
                    draggable="true"
                    panel="directions-panel"
                    travel-mode="DRIVING"
                    origin="Polit Lasso, Conocoto, Pichincha, Ecuador"
                    destination="Av. AMAZONAS N36-152 Y Av. NACIONES UNIDAS">
            </directions>
        </map>
    </div>

    <div id="directions-panel"></div>
</body>
</html>